# Data Science Notebook

## Introduction
This notebook provides an overview of key concepts, tools, and programming languages used in data science.

## Data Science Languages
- Python  
- R  
- SQL  
- Julia  
- Scala  
- Java

## Data Science Libraries
- NumPy  
- Pandas  
- Matplotlib  
- Seaborn  
- Scikit-learn  
- TensorFlow  
- Keras

## Data Science Tools

| Tool            | Category           |
|-----------------|--------------------|
| Jupyter Notebook| IDE/Environment    |
| RStudio         | IDE/Environment    |
| GitHub          | Version Control    |
| Tableau         | Visualization      |
| Apache Spark    | Big Data Processing|

## Examples of Arithmetic Expressions
Below are some examples of simple arithmetic operations like addition and multiplication.

# Multiply and add numbers
result = (5 * 3) + 8
print("The result is:", result)

# Convert minutes to hours
minutes = 150
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours")

## Objectives
- Learn basic Markdown formatting  
- Perform arithmetic operations in code  
- Understand data science tools and libraries  
- Practice using Jupyter Notebook

**Author:** Sivaranjani